.home {
  height: 90vh;
  width: 80vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #f5f7fb;
}

.home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}